@using EaseFlight.Models.EntityModels;
@{
    ViewBag.Title = "Flight";
    var flights = (IEnumerable<FlightModel>)ViewData["flights"];
    var planes = (IEnumerable<PlaneModel>)ViewData["planes"];
    var msg = TempData["msg"] != null ? TempData["msg"].ToString().Split('-').ToList() : new List<string>();
}
@Scripts.Render("~/bundles/adminflight")

@if (msg.Count() > 0 && msg[0].Equals("error"))
{
    <script>
        ToastError('@msg[1]');
    </script>
}
else if (msg.Count() > 0 && msg[0].Equals("success"))
{
    <script>
        ToastSuccess('@msg[1]');
    </script>
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <h3 class="card-title">Ease Flight - Flight Schedule</h3>
        </div>
    </div>
    <div class="card-body card-table">
        <table id="flightTable" class="table table-bordered table-striped">
            <thead>
                <tr role="row">
                    <th>ID</th>
                    <th>Plane</th>
                    <th>Depart</th>
                    <th>Arrival</th>
                    <th>Depart Date</th>
                    <th>Arrival Date</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var flight in flights)
                {
                    <tr class="tr-flight">
                        <td class="flightId">@flight.ID</td>
                        <td class="plane" data-value="@flight.PlaneID">@(flight.Plane.Airline + flight.PlaneID.Value.ToString("D3"))</td>
                        <td class="depart" data-value="@flight.Departure.ID">@flight.Departure.Name</td>
                        <td class="arrival" data-value="@flight.Arrival.ID">@flight.Arrival.Name</td>
                        <td class="departDate">@flight.DepartureDate.Value.ToString("dd/MM/yyyy hh:mm tt")</td>
                        <td class="arrivalDate">@flight.ArrivalDate.Value.ToString("dd/MM/yyyy hh:mm tt")</td>
                        <td class="price">$@flight.Price</td>
                        <td class="@flight.Status.ToLower()-status td-status">@flight.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!--Add/Edit Flight Modal-->
<div class="modal fade" id="flightModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Add New Flight</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="@Url.Action("AddFlight","Flight")" method="post" name="flightForm">
                    <input type="hidden" class="flightId" name="flightId" />
                    <div class="form-group">
                        <label>Plane</label>
                        <select class="select2" name="plane">
                            @foreach (var plane in planes)
                            {
                                <option value="@plane.ID">@plane.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Deapart</label>
                            <select class="select2" name="depart"></select>
                        </div>
                        <div class="col-md-6">
                            <label>Arrival</label>
                            <select class="select2" name="arrival"></select>
                        </div>
                        <span class="msg-valid msg-place" style="margin-left: 10px;">Depart and Arrival can not at the same place</span>
                    </div>
                    <div class="form-group">
                        <label>Depart And Arrival Date</label>
                        <input type="text" class="form-control departDate" name="flightDate" placeholder="dd/mm/yyyy hh:mm">
                        <span class="msg-valid msg-date" style="margin-left: 10px;">Depart Date and Arrival Date is required</span>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Price</label>
                            <input type="number" class="form-control" name="price" min="1" value="1">
                        </div>
                        <div class="col-md-6">
                            <label>Status</label>
                            <input type="text" class="form-control disabled" value="Ready" disabled>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-success" onclick="saveFlight()">Save</button>
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--Confirm modal-->
<div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Delete Flight</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete this flight? This procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-sm btn-danger confirm-button" onclick="">Delete Flight</button>
            </div>
        </div>
    </div>
</div>

<!--Change Status modal-->
<div class="modal fade" id="status-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Flight Status</h5>
                <input type="hidden" name="flightId"/>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="changeReady()" class="btn btn-sm btn-dark confirm-button btn-ready hide btn-status">Ready Status</button>
                <button type="button" onclick="changeOnline()" class="btn btn-sm btn-success confirm-button btn-online hide btn-status">Online Status</button>
                <button type="button" onclick="changeDelay()" class="btn btn-sm btn-danger confirm-button btn-delay hide btn-status">Delay Status</button>
            </div>
        </div>
    </div>
</div>