@using System.Globalization;
@using EaseFlight.Web.WebUtilities;
@using EaseFlight.Common.Constants;
@{
    ViewBag.Title = "Booking";
    var booking = SessionUtility.GetBookingSession();
    var airlineDepart = booking.DepartFlight.Select(flight => flight.Plane.Airline).Distinct().ToList();
    var roundTrip = booking.ReturnFlight.Count() > 0;
    var percent = booking.PassengerType.Where(type => type.Name.Equals(Constant.CONST_DB_NAME_INFANT)).Select(type => type.Discount.Value).FirstOrDefault();
    var priceInfant = Math.Round(booking.Price - (booking.Price / 100) * percent, 2);
    var percent2 = booking.PassengerType.Where(type => type.Name.Equals(Constant.CONST_DB_NAME_CHILD)).Select(type => type.Discount.Value).FirstOrDefault();
    var priceChild = Math.Round(booking.Price - (booking.Price / 100) * percent2, 2);

    var totalPrice = (booking.Price * booking.Adult) + (booking.Child > 0 ? priceChild*booking.Child : 0) + (booking.Infant > 0 ? priceInfant * booking.Infant : 0);
}
@Scripts.Render("~/bundles/geodata")
@Scripts.Render("~/bundles/booking")
@Styles.Render("~/Content/booking")

<div class="theme-page-section theme-page-section-xxl">
    <div class="container">
        <div class="row row-col-static row-col-mob-gap" id="sticky-parent" data-gutter="60">
            <div class="col-md-8 ">
                <div class="theme-payment-page-sections">
                    <div class="theme-payment-page-sections-item missing-info hide">
                        <div class="theme-payment-page-signin">
                            <i class="theme-payment-page-signin-icon fa fa-user-circle-o"></i>
                            <div class="theme-payment-page-signin-body">
                                <h4 class="theme-payment-page-signin-title">Update your account information</h4>
                                <p class="theme-payment-page-signin-subtitle">
                                    Some thing of your account information is incomplete, please update!
                                </p>
                            </div>
                            <a class="btn theme-payment-page-signin-btn btn-primary" onclick="openUpdateAccountModal()">Update</a>
                        </div>
                    </div>
                    <div class="theme-payment-page-sections-item">
                        <div class="theme-search-results-item theme-payment-page-item-thumb">
                            <div class="row" data-gutter="20">
                                <div class="col-md-9 ">
                                    <p class="theme-search-results-item-flight-payment-airline">
                                        <span>You are flying </span>
                                        @for (var i = 0; i < airlineDepart.Count(); ++i)
                                        {
                                            <span>@airlineDepart[i]</span>
                                            if (i < airlineDepart.Count() - 1)
                                            {
                                                <span> and </span>
                                            }
                                        }
                                        <span> airlines</span>
                                    </p>
                                    <h5 class="theme-search-results-item-title">
                                        @booking.Departure.City (@booking.Departure.Name.Split('-')[0].Trim()) &nbsp;&rarr;&nbsp; @booking.Arrival.City (@booking.Arrival.Name.Split('-')[0].Trim())
                                    </h5>
                                    <p class="theme-search-results-item-flight-payment-info">@(roundTrip ? "Round trip" : "One way"), @booking.SeatClass.Name, @booking.Adult Adult, @booking.Child Child, @booking.Infant Infant</p>
                                    <ul class="theme-search-results-item-flight-payment-dates">
                                        <li>Depart: @booking.DepartFlight.First().DepartureDate.Value.ToString("MMM dd, yyyy")</li>
                                        @if (roundTrip)
                                        {
                                            <li>Return: @booking.ReturnFlight.First().DepartureDate.Value.ToString("MMM dd, yyyy")</li>
                                        }
                                    </ul>
                                    <a class="theme-search-results-item-flight-payment-details-link" href="#FlightPaymentDetails" data-toggle="collapse" aria-expanded="false" aria-controls="FlightPaymentDetails">
                                        Flight Details &nbsp;
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <div class="collapse _pt-20" id="FlightPaymentDetails">
                                        <div class="theme-search-results-item-flight-detail-items">
                                            <div class="theme-search-results-item-flight-details">
                                                <div class="row">
                                                    <div class="col-md-3 ">
                                                        <div class="theme-search-results-item-flight-details-info">
                                                            <h5 class="theme-search-results-item-flight-details-info-title">Depart</h5>
                                                            <p class="theme-search-results-item-flight-details-info-date">@booking.DepartFlight.First().DepartureDate.Value.ToString("dddd, MMM dd")</p>
                                                            <p class="theme-search-results-item-flight-details-info-cities">@booking.Departure.City &rarr; @booking.Arrival.City</p>
                                                            <p class="theme-search-results-item-flight-details-info-fly-time">
                                                                @{
                                                                    var span = booking.DepartFlight.Last().ArrivalDate.Value.Subtract(booking.DepartFlight.First().DepartureDate.Value);
                                                                }
                                                                @(span.Hours)h @(span.Minutes)m
                                                            </p>
                                                            <p class="theme-search-results-item-flight-details-info-stops">@(booking.DepartFlight.Count() > 1 ? booking.DepartFlight.Count() - 1 + " transits" : "Direct")</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9 ">
                                                        <div class="theme-search-results-item-flight-details-schedule">
                                                            <ul class="theme-search-results-item-flight-details-schedule-list">
                                                                @for (var i = 0; i < booking.DepartFlight.Count(); ++i)
                                                                {
                                                                    if (i > 0)
                                                                    {

                                                                        var trasitTime = booking.DepartFlight[i].DepartureDate.Value.Subtract(booking.DepartFlight[i - 1].ArrivalDate.Value);

                                                                        <li class="transit">
                                                                            <i class="fa fa-exchange theme-search-results-item-flight-details-schedule-icon"></i>
                                                                            <p class="theme-search-results-item-flight-details-schedule-transfer transit-title">
                                                                                Transit for @(trasitTime.Hours)h @(trasitTime.Minutes)m in @booking.DepartFlight[i - 1].Arrival.Name.Split('-')[1].Trim() Airport (@booking.DepartFlight[i - 1].Arrival.Name.Split('-')[0].Trim())
                                                                            </p>
                                                                        </li>
                                                                    }
                                                                    <li>
                                                                        <i class="fa fa-plane theme-search-results-item-flight-details-schedule-icon"></i>
                                                                        <div class="theme-search-results-item-flight-details-schedule-dots"></div>
                                                                        <p class="theme-search-results-item-flight-details-schedule-date">@booking.DepartFlight[i].DepartureDate.Value.ToString("MMM dd, yyyy")</p>
                                                                        <div class="theme-search-results-item-flight-details-schedule-time">
                                                                            <span class="theme-search-results-item-flight-details-schedule-time-item">
                                                                                @booking.DepartFlight[i].DepartureDate.Value.ToString("hh:mm")
                                                                                <span>@booking.DepartFlight[i].DepartureDate.Value.ToString("tt", CultureInfo.InvariantCulture)</span>
                                                                            </span>
                                                                            <span class="theme-search-results-item-flight-details-schedule-time-separator">&mdash;</span>
                                                                            <span class="theme-search-results-item-flight-details-schedule-time-item">
                                                                                @booking.DepartFlight[i].ArrivalDate.Value.ToString("hh:mm")
                                                                                <span>@booking.DepartFlight[i].ArrivalDate.Value.ToString("tt", CultureInfo.InvariantCulture)</span>
                                                                            </span>
                                                                        </div>
                                                                        <p class="theme-search-results-item-flight-details-schedule-fly-time">
                                                                            @{
                                                                                var flightTime = booking.DepartFlight[i].ArrivalDate.Value.Subtract(booking.DepartFlight[i].DepartureDate.Value);
                                                                            }
                                                                            @(flightTime.Hours)h @(flightTime.Minutes)m
                                                                        </p>
                                                                        <div class="theme-search-results-item-flight-details-schedule-destination">
                                                                            <div class="theme-search-results-item-flight-details-schedule-destination-item">
                                                                                <p class="theme-search-results-item-flight-details-schedule-destination-title">
                                                                                    <b>(@booking.DepartFlight[i].Departure.Name.Split('-')[0].Trim())</b>@booking.DepartFlight[i].Departure.Name.Split('-')[1] Airport
                                                                                </p>
                                                                                <p class="theme-search-results-item-flight-details-schedule-destination-city">@booking.DepartFlight[i].Departure.City, @booking.DepartFlight[i].Departure.Country.Name</p>
                                                                            </div>
                                                                            <div class="theme-search-results-item-flight-details-schedule-destination-separator">
                                                                                <span>&rarr;</span>
                                                                            </div>
                                                                            <div class="theme-search-results-item-flight-details-schedule-destination-item">
                                                                                <p class="theme-search-results-item-flight-details-schedule-destination-title">
                                                                                    <b>(@booking.DepartFlight[i].Arrival.Name.Split('-')[0].Trim())</b>@booking.DepartFlight[i].Arrival.Name.Split('-')[1] Airport
                                                                                </p>
                                                                                <p class="theme-search-results-item-flight-details-schedule-destination-city">@booking.DepartFlight[i].Arrival.City, @booking.DepartFlight[i].Arrival.Country.Name</p>
                                                                            </div>
                                                                        </div>
                                                                        <ul class="theme-search-results-item-flight-details-schedule-features">
                                                                            <li>@booking.DepartFlight[i].Plane.Airline.Replace(" ", "")@booking.DepartFlight[i].PlaneID.Value.ToString("D3")</li>
                                                                            <li>@booking.DepartFlight[i].Plane.SeatMap.Name</li>
                                                                        </ul>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @if (roundTrip)
                                            {
                                                <div class="theme-search-results-item-flight-details">
                                                    <div class="row">
                                                        <div class="col-md-3 ">
                                                            <div class="theme-search-results-item-flight-details-info">
                                                                <h5 class="theme-search-results-item-flight-details-info-title">Return</h5>
                                                                <p class="theme-search-results-item-flight-details-info-date">@booking.ReturnFlight.First().DepartureDate.Value.ToString("dddd, MMM dd")</p>
                                                                <p class="theme-search-results-item-flight-details-info-cities">@booking.Arrival.City &rarr; @booking.Departure.City</p>
                                                                <p class="theme-search-results-item-flight-details-info-fly-time">
                                                                    @{
                                                                        var span2 = booking.ReturnFlight.Last().ArrivalDate.Value.Subtract(booking.ReturnFlight.First().DepartureDate.Value);
                                                                    }
                                                                    @(span2.Hours)h @(span2.Minutes)m
                                                                </p>
                                                                <p class="theme-search-results-item-flight-details-info-stops">@(booking.ReturnFlight.Count() > 1 ? booking.ReturnFlight.Count() - 1 + " transits" : "Direct")</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-9 ">
                                                            <div class="theme-search-results-item-flight-details-schedule">
                                                                <ul class="theme-search-results-item-flight-details-schedule-list">
                                                                    @for (var i = 0; i < booking.ReturnFlight.Count(); ++i)
                                                                    {
                                                                        if (i > 0)
                                                                        {

                                                                            var trasitTime = booking.ReturnFlight[i].DepartureDate.Value.Subtract(booking.ReturnFlight[i - 1].ArrivalDate.Value);

                                                                            <li class="transit">
                                                                                <i class="fa fa-exchange theme-search-results-item-flight-details-schedule-icon"></i>
                                                                                <p class="theme-search-results-item-flight-details-schedule-transfer transit-title">
                                                                                    Transit for @(trasitTime.Hours)h @(trasitTime.Minutes)m in @booking.ReturnFlight[i - 1].Arrival.Name.Split('-')[1].Trim() Airport (@booking.ReturnFlight[i - 1].Arrival.Name.Split('-')[0].Trim())
                                                                                </p>
                                                                            </li>
                                                                        }
                                                                        <li>
                                                                            <i class="fa fa-plane theme-search-results-item-flight-details-schedule-icon"></i>
                                                                            <div class="theme-search-results-item-flight-details-schedule-dots"></div>
                                                                            <p class="theme-search-results-item-flight-details-schedule-date">@booking.ReturnFlight[i].DepartureDate.Value.ToString("MMM dd, yyyy")</p>
                                                                            <div class="theme-search-results-item-flight-details-schedule-time">
                                                                                <span class="theme-search-results-item-flight-details-schedule-time-item">
                                                                                    @booking.ReturnFlight[i].DepartureDate.Value.ToString("hh:mm")
                                                                                    <span>@booking.ReturnFlight[i].DepartureDate.Value.ToString("tt", CultureInfo.InvariantCulture)</span>
                                                                                </span>
                                                                                <span class="theme-search-results-item-flight-details-schedule-time-separator">&mdash;</span>
                                                                                <span class="theme-search-results-item-flight-details-schedule-time-item">
                                                                                    @booking.ReturnFlight[i].ArrivalDate.Value.ToString("hh:mm")
                                                                                    <span>@booking.ReturnFlight[i].ArrivalDate.Value.ToString("tt", CultureInfo.InvariantCulture)</span>
                                                                                </span>
                                                                            </div>
                                                                            <p class="theme-search-results-item-flight-details-schedule-fly-time">
                                                                                @{
                                                                                    var flightTime = booking.ReturnFlight[i].ArrivalDate.Value.Subtract(booking.ReturnFlight[i].DepartureDate.Value);
                                                                                }
                                                                                @(flightTime.Hours)h @(flightTime.Minutes)m
                                                                            </p>
                                                                            <div class="theme-search-results-item-flight-details-schedule-destination">
                                                                                <div class="theme-search-results-item-flight-details-schedule-destination-item">
                                                                                    <p class="theme-search-results-item-flight-details-schedule-destination-title">
                                                                                        <b>(@booking.ReturnFlight[i].Departure.Name.Split('-')[0].Trim())</b>@booking.ReturnFlight[i].Departure.Name.Split('-')[1] Airport
                                                                                    </p>
                                                                                    <p class="theme-search-results-item-flight-details-schedule-destination-city">@booking.ReturnFlight[i].Departure.City, @booking.ReturnFlight[i].Departure.Country.Name</p>
                                                                                </div>
                                                                                <div class="theme-search-results-item-flight-details-schedule-destination-separator">
                                                                                    <span>&rarr;</span>
                                                                                </div>
                                                                                <div class="theme-search-results-item-flight-details-schedule-destination-item">
                                                                                    <p class="theme-search-results-item-flight-details-schedule-destination-title">
                                                                                        <b>(@booking.ReturnFlight[i].Arrival.Name.Split('-')[0].Trim())</b>@booking.ReturnFlight[i].Arrival.Name.Split('-')[1] Airport
                                                                                    </p>
                                                                                    <p class="theme-search-results-item-flight-details-schedule-destination-city">@booking.ReturnFlight[i].Arrival.City, @booking.ReturnFlight[i].Arrival.Country.Name</p>
                                                                                </div>
                                                                            </div>
                                                                            <ul class="theme-search-results-item-flight-details-schedule-features">
                                                                                <li>@booking.ReturnFlight[i].Plane.Airline.Replace(" ", "")@booking.ReturnFlight[i].PlaneID.Value.ToString("D3")</li>
                                                                                <li>@booking.ReturnFlight[i].Plane.SeatMap.Name</li>
                                                                            </ul>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="theme-search-results-item-img-wrap">
                                        @foreach (var airline in airlineDepart)
                                        {
                                            <img class="theme-search-results-item-img _mob-h" src="~/Content/images/airline-logo/@(airline).png" alt="@airline" title="@airline" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @{
                        var index = 1;
                        var title = "Adult";
                    }
                    <div class="theme-payment-page-sections-item passenger-section">
                        <h5 class="theme-search-results-item-title infor-title">Passenger Information</h5>
                        <div class="row row-col-gap" data-gutter="20">
                            @for (var i = 0; i < (booking.Adult + booking.Child + booking.Infant); ++i)
                            {
                                if (i == booking.Adult && booking.Child > 0)
                                {
                                    title = "Child"; index = 1;
                                }
                                else if (i == (booking.Adult + booking.Child))
                                {
                                    title = "Infant"; index = 1;
                                }
                                <div class="col-md-4 ">
                                    <div class="theme-account-card account-cart">
                                        <div class="theme-account-card-mask">
                                            <ul class="theme-account-card-actions">
                                                @if (i == 0)
                                                {
                                                    <li class="it-you" title="Get your information">
                                                        <a onclick="itsYou()">
                                                            <i class="fa fa-user"></i>It's you
                                                        </a>
                                                    </li>
                                                    <li class="not-you hide" title="Remove your information">
                                                        <a onclick="notYou()">
                                                            <i class="fa fa-user-times"></i>Not you
                                                        </a>
                                                    </li>
                                                }
                                                <li title="Edit Passenger">
                                                    <a onclick="openPassengerModal()" data-complete="false" data-passenger="@title@(index)">
                                                        <i class="fa fa-pencil"></i>Edit
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="theme-account-card-number" data-type="@title">@title @(index++)</p>
                                        <div class="theme-account-card-name">
                                            <p>Passenger Name</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="theme-payment-page-sections-item">
                        <div class="theme-payment-page-booking">
                            <div class="theme-payment-page-booking-header">
                                <h3 class="theme-payment-page-booking-title">Total</h3>
                                <p class="theme-payment-page-booking-subtitle">By clicking book now button you agree with terms and conditionals and money back gurantee. Thank you for trusting our service.</p>
                                <p class="theme-payment-page-booking-price">$@totalPrice</p>
                            </div>
                            <a class="btn _tt-uc btn-primary-inverse btn-sm book-button" onclick="submitBooking()">Booking With Paypal <i class="fa fa-paypal"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="sticky-col">
                    <div class="theme-sidebar-section _mb-10">
                        <h5 class="theme-sidebar-section-title">Booking Summary</h5>
                        <ul class="theme-sidebar-section-summary-list">
                            <li>@(roundTrip ? "Round trip" : "One way"), @booking.SeatClass.Name, @booking.Adult Adult, @booking.Child Child, @booking.Infant Infant</li>
                            <li>Depart: @booking.DepartFlight.First().DepartureDate.Value.ToString("MMM dd, yyyy")</li>
                            @if (roundTrip)
                            {
                                <li>Return: @booking.ReturnFlight.First().DepartureDate.Value.ToString("MMM dd, yyyy")</li>
                            }
                        </ul>
                    </div>
                    <div class="theme-sidebar-section _mb-10">
                        <h5 class="theme-sidebar-section-title">Charges</h5>
                        <div class="theme-sidebar-section-charges">
                            <ul class="theme-sidebar-section-charges-list">
                                <li class="theme-sidebar-section-charges-item">
                                    <h5 class="theme-sidebar-section-charges-item-title">
                                        1 Adult
                                        <span class="passenger-price">x@(booking.Adult)</span>
                                    </h5>
                                    <p class="theme-sidebar-section-charges-item-subtitle">@booking.SeatClass.Name</p>
                                    <p class="theme-sidebar-section-charges-item-price">$@booking.Price</p>
                                </li>
                                @if (booking.Child > 0)
                                {
                                    <li class="theme-sidebar-section-charges-item">
                                        <h5 class="theme-sidebar-section-charges-item-title">
                                            1 Child
                                            <span class="passenger-price">x@(booking.Child)</span>
                                        </h5>
                                        <p class="theme-sidebar-section-charges-item-subtitle">@booking.SeatClass.Name</p>
                                        <p class="theme-sidebar-section-charges-item-price">
                                            $@priceChild
                                        </p>
                                    </li>
                                }
                                @if (booking.Infant > 0)
                                {
                                    <li class="theme-sidebar-section-charges-item">
                                        <h5 class="theme-sidebar-section-charges-item-title">
                                            1 Infant
                                            <span class="passenger-price">x@(booking.Infant)</span>
                                        </h5>
                                        <p class="theme-sidebar-section-charges-item-subtitle">@booking.SeatClass.Name</p>
                                        <p class="theme-sidebar-section-charges-item-price">
                                            $@priceInfant
                                        </p>
                                    </li>
                                }
                            </ul>
                            <p class="theme-sidebar-section-charges-total">
                                Total
                                <span>$@totalPrice</span>
                            </p>
                        </div>
                    </div>
                    <div class="theme-sidebar-section _mb-10">
                        <ul class="theme-sidebar-section-features-list">
                            <li>
                                <h5 class="theme-sidebar-section-features-list-title">Manage your bookings!</h5>
                                <p class="theme-sidebar-section-features-list-body">You're in control of your booking - no registration required.</p>
                            </li>
                            <li>
                                <h5 class="theme-sidebar-section-features-list-title">Customer support available 24/7 worldwide!</h5>
                                <p class="theme-sidebar-section-features-list-body">Website and customer support in English and 41 other languages.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Add/Edit passenger-->
<div class="modal fade" id="editPassenger" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row row-col-gap passenger-modal-content" data-gutter="20">
                    <form class="passenger-form">
                        <input type="hidden" class="passenger-id" name="id" />
                        <div class="row">
                            <div class="item col-md-12">
                                <label class="required" for="">Title</label>
                                <select class="form-control title cursor-pointer" name="Gender">
                                    <option value="-1">Choose...</option>
                                    <option value="0">Mr</option>
                                    <option value="1">Ms/Mrs</option>
                                </select>
                                <span class="valid-msg">Title is required</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="item col-md-6">
                                <label class="required" for="FirstName">First Name</label>
                                <input class="" type="text" name="FirstName" required />
                                <span class="valid-msg">First Name is required</span>
                            </div>
                            <div class="item col-md-6">
                                <label class="required" for="LastName">Middle & Last Name</label>
                                <input type="text" name="LastName" required />
                                <span class="valid-msg">Middle & Last Name is required</span>
                            </div>
                        </div>
                        <div class="row update-account hide">
                            <div class="item col-md-6">
                                <label class="required" for="Address">Address</label>
                                <input class="" type="text" name="Address" required />
                                <span class="valid-msg">Address is required</span>
                            </div>
                            <div class="item col-md-6">
                                <label class="required" for="Phone">Phone</label>
                                <input type="text" name="Phone" required />
                                <span class="valid-msg">Phone is required</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="item col-md-10">
                                <label class="required" for="">Date Of Birth</label>
                                <div class="row">
                                    <div class="col-md-2 col-sm-2 form-date">
                                        <select class="form-control day-form cursor-pointer">
                                            <option value="01">1</option>
                                            <option value="02">2</option>
                                            <option value="03">3</option>
                                            <option value="04">4</option>
                                            <option value="05">5</option>
                                            <option value="06">6</option>
                                            <option value="07">7</option>
                                            <option value="08">8</option>
                                            <option value="09">9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                            <option>13</option>
                                            <option>14</option>
                                            <option>15</option>
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option class="febmonth leapyear">29</option>
                                            <option class="febmonth">30</option>
                                            <option class="febmonth daymonth">31</option>
                                        </select>
                                    </div>

                                    <div class="col-md-3 col-sm-3 form-date">
                                        <select class="form-control month-form cursor-pointer" onchange="onchangeMonth()">
                                            <option value="01">January</option>
                                            <option value="02">February</option>
                                            <option value="03">March</option>
                                            <option value="04">April</option>
                                            <option value="05">May</option>
                                            <option value="06">June</option>
                                            <option value="07">July</option>
                                            <option value="08">August</option>
                                            <option value="09">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-3 form-date-year">
                                        <select class="form-control year-form cursor-pointer" onchange="onchangeYear()"></select>
                                    </div>
                                </div>
                                <span class="valid-msg">Date of birth is required</span>
                                <input type="hidden" class="dob" name="Birthday" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="item col-md-6">
                                <label for="IDCardOrPassport">Passport/ID Card Number</label>
                                <input type="text" name="IDCardOrPassport" />
                            </div>
                            <div class="item col-md-6">
                                <label for="DateIssueOrExpiry">Passport Expiry/Date Issue</label>
                                <input class="passport-expiry" type="text" name="DateIssueOrExpiry" placeholder="dd/mm/yyyy" />
                                <i class="lin lin-calendar calendar-icon" title="Choose Date"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="item col-md-6">
                                <label for="Nationality">Nationality</label>
                                <select name="Nationality" class="form-control gds-cr cursor-pointer" country-data-region-id="geo-data-adult" data-language="en"></select>
                            </div>
                            <div class="item col-md-6">
                                <label for="City">Provice/City</label>
                                <select name="City" class="form-control cursor-pointer" id="geo-data-adult"></select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary save-button" onclick="savePassenger()">Save changes</button>
            </div>
        </div>
    </div>
</div>