@{
    ViewBag.Title = "My Profile";
}
@model EaseFlight.Models.EntityModels.AccountModel

@Scripts.Render("~/bundles/myprofile")
@Scripts.Render("~/bundles/geodata")

<div class="theme-page-section theme-page-section-gray theme-page-section-xxl">
    <div class="container">
        <div class="row">
            <div class="col-md-2-5 ">
                <div class="theme-account-sidebar">
                    <div class="theme-account-avatar">
                        @if (string.IsNullOrEmpty(Model.Photo))
                        {
                            <img class="theme-account-avatar-img" src="~/Content/images/user.png" alt="Image Alternative text" title="@Model.LastName" />
                        }
                        else
                        {
                            <img class="theme-account-avatar-img" src="@Model.Photo" alt="Image Alternative text" title="@Model.LastName" />
                        }
                        <p class="theme-account-avatar-name">
                            Welcome,
                            <br />@Model.FirstName @Model.LastName
                        </p>
                    </div>
                    <nav class="theme-account-nav">
                        <ul class="theme-account-nav-list">
                            <li class="active">
                                <a href="account.html">
                                    <i class="fa fa-cog"></i>Preferences
                                </a>
                            </li>
                            <li>
                                <a href="account-notifications.html">
                                    <i class="fa fa-ticket"></i>Tickets
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-9-5 ">
                <h1 class="theme-account-page-title">Prefrences</h1>
                <div class="row">
                    <div class="col-md-9 ">
                        <div class="theme-account-preferences">
                            @if (!string.IsNullOrEmpty(Model.Password))
                            {
                                <!--Username-->
                                <div class="theme-account-preferences-item">
                                    <div class="row">
                                        <div class="col-md-3 ">
                                            <h5 class="theme-account-preferences-item-title">Username</h5>
                                        </div>
                                        <div class="col-md-7 ">
                                            <p class="theme-account-preferences-item-value">@Model.Username</p>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!--Fullname and Gender-->
                            <div class="theme-account-preferences-item">
                                <div class="row">
                                    <div class="col-md-3 ">
                                        <h5 class="theme-account-preferences-item-title">Full Name</h5>
                                    </div>
                                    <div class="col-md-7 ">
                                        <p class="theme-account-preferences-item-value">@(Model.Gender != null ? Model.Gender.Value ? "Ms/Mrs. " : "Mr. " : "")@Model.FirstName @Model.LastName</p>
                                        <div class="collapse" id="ChangeFullName">
                                            <div class="theme-account-preferences-item-change">
                                                <p class="theme-account-preferences-item-change-description">Please enter your name on your Passport or ID Card</p>
                                                <div class="form-group theme-account-preferences-item-change-form">
                                                    <label>Title</label>
                                                    <select name="Title" class="form-control">
                                                        <option>Mr</option>
                                                        <option>Ms/Mrs</option>
                                                    </select>
                                                    <label>First Name</label>
                                                    <input name="Firstname" class="form-control" type="text" value="@Model.FirstName" placeholder="Enter your First Name" />
                                                    <label>Last Name</label>
                                                    <input name="Lastname" class="form-control" type="text" value="@Model.LastName" placeholder="Enter your Last Name" />
                                                </div>
                                                <div class="theme-account-preferences-item-change-actions">
                                                    <a class="btn btn-sm btn-primary" href="#">Save changes</a>
                                                    <a class="btn btn-sm btn-default" href="#ChangeFullName" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeFullName">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ">
                                        <a class="theme-account-preferences-item-change-link" href="#ChangeFullName" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeFullName">
                                            <i class="fa fa-pencil"></i>Edit
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--Birthday-->
                            <div class="theme-account-preferences-item">
                                <div class="row">
                                    <div class="col-md-3 ">
                                        <h5 class="theme-account-preferences-item-title">Birthday</h5>
                                    </div>
                                    <div class="col-md-7 ">
                                        <p class="theme-account-preferences-item-value">@(Model.Birthday != null ? Model.Birthday.Value.ToString("dd/MM/yyyy") : "")</p>
                                        <div class="collapse" id="ChangeBirthday">
                                            <div class="theme-account-preferences-item-change">
                                                <p class="theme-account-preferences-item-change-description">Please enter your day of birth</p>
                                                <div class="form-group theme-account-preferences-item-change-form">
                                                    <input name="Dob" class="form-control dob" type="text" value="@(Model.Birthday != null?Model.Birthday.Value.ToString("dd/MM/yyyy"):"")" placeholder="dd/mm/yyyy" />
                                                </div>
                                                <div class="theme-account-preferences-item-change-actions">
                                                    <a class="btn btn-sm btn-primary" href="#">Save changes</a>
                                                    <a class="btn btn-sm btn-default" href="#ChangeBirthday" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeBirthday">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ">
                                        <a class="theme-account-preferences-item-change-link" href="#ChangeBirthday" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeBirthday">
                                            <i class="fa fa-pencil"></i>Edit
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--Email-->
                            <div class="theme-account-preferences-item">
                                <div class="row">
                                    <div class="col-md-3 ">
                                        <h5 class="theme-account-preferences-item-title">Email</h5>
                                    </div>
                                    <div class="col-md-7 ">
                                        <p class="theme-account-preferences-item-value">@Model.Email</p>
                                        <div class="collapse" id="ChangeEmail">
                                            <div class="theme-account-preferences-item-change">
                                                <p class="theme-account-preferences-item-change-description">Please enter your email</p>
                                                <div class="form-group theme-account-preferences-item-change-form">
                                                    <input name="Email" class="form-control" type="text" value="@Model.Email" placeholder="Enter your Email" />
                                                </div>
                                                <div class="theme-account-preferences-item-change-actions">
                                                    <a class="btn btn-sm btn-primary" href="#">Save changes</a>
                                                    <a class="btn btn-sm btn-default" href="#ChangeEmail" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeEmail">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ">
                                        <a class="theme-account-preferences-item-change-link" href="#ChangeEmail" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeEmail">
                                            <i class="fa fa-pencil"></i>Edit
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--Phone-->
                            <div class="theme-account-preferences-item">
                                <div class="row">
                                    <div class="col-md-3 ">
                                        <h5 class="theme-account-preferences-item-title">Phone</h5>
                                    </div>
                                    <div class="col-md-7 ">
                                        <p class="theme-account-preferences-item-value">@Model.Phone</p>
                                        <div class="collapse" id="ChangePhone">
                                            <div class="theme-account-preferences-item-change">
                                                <p class="theme-account-preferences-item-change-description">Please enter your phone number</p>
                                                <div class="form-group theme-account-preferences-item-change-form">
                                                    <input name="Phone" class="form-control" type="text" value="@Model.Phone" placeholder="Enter your Phone number" />
                                                </div>
                                                <div class="theme-account-preferences-item-change-actions">
                                                    <a class="btn btn-sm btn-primary" href="#">Save changes</a>
                                                    <a class="btn btn-sm btn-default" href="#ChangePhone" data-toggle="collapse" aria-expanded="false" aria-controls="ChangePhone">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ">
                                        <a class="theme-account-preferences-item-change-link" href="#ChangePhone" data-toggle="collapse" aria-expanded="false" aria-controls="ChangePhone">
                                            <i class="fa fa-pencil"></i>Edit
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--Address-->
                            <div class="theme-account-preferences-item">
                                <div class="row">
                                    <div class="col-md-3 ">
                                        <h5 class="theme-account-preferences-item-title">Address</h5>
                                    </div>
                                    <div class="col-md-7 ">
                                        <p class="theme-account-preferences-item-value">@Model.Address</p>
                                        <div class="collapse" id="ChangeAddress">
                                            <div class="theme-account-preferences-item-change">
                                                <p class="theme-account-preferences-item-change-description">Please enter your phone number</p>
                                                <div class="form-group theme-account-preferences-item-change-form">
                                                    <input name="Address" class="form-control" type="text" value="@Model.Address" placeholder="Enter your Phone number" />
                                                </div>
                                                <div class="theme-account-preferences-item-change-actions">
                                                    <a class="btn btn-sm btn-primary" href="#">Save changes</a>
                                                    <a class="btn btn-sm btn-default" href="#ChangeAddress" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeAddress">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ">
                                        <a class="theme-account-preferences-item-change-link" href="#ChangeAddress" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeAddress">
                                            <i class="fa fa-pencil"></i>Edit
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--Passport-->
                            <div class="theme-account-preferences-item">
                                <div class="row">
                                    <div class="col-md-3 ">
                                        <h5 class="theme-account-preferences-item-title">Passport/ID Card</h5>
                                    </div>
                                    <div class="col-md-7 ">
                                        <p class="theme-account-preferences-item-value">@Model.IDCardOrPassport</p>
                                        <div class="collapse" id="ChangePassport">
                                            <div class="theme-account-preferences-item-change">
                                                <p class="theme-account-preferences-item-change-description">Please enter your Passport/ID Card number</p>
                                                <div class="form-group theme-account-preferences-item-change-form">
                                                    <label>Passport/ID Card</label>
                                                    <input name="Passport" class="form-control" type="text" value="@Model.IDCardOrPassport" placeholder="Enter your Passport/ID Card number" />
                                                    <label>Nationality</label>
                                                    <select name="Region" class="form-control gds-cr cursor-pointer" country-data-region-id="geo-data-adult" data-language="en"></select>
                                                    <label>Provice/City</label>
                                                    <select name="City" class="form-control cursor-pointer" id="geo-data-adult"></select>
                                                    <label>Passport Expiry/Date Issue</label>
                                                    <input class="form-control passport-expiry" type="text" name="DateIssueOrExpiry" placeholder="dd/mm/yyyy" value="@(Model.DateIssueOrExpiry != null?Model.DateIssueOrExpiry.Value.ToString("dd/MM/yyyy"):"")" />
                                                </div>
                                                <div class="theme-account-preferences-item-change-actions">
                                                    <a class="btn btn-sm btn-primary" href="#">Save changes</a>
                                                    <a class="btn btn-sm btn-default" href="#ChangePassport" data-toggle="collapse" aria-expanded="false" aria-controls="ChangePassport">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ">
                                        <a class="theme-account-preferences-item-change-link" href="#ChangePassport" data-toggle="collapse" aria-expanded="false" aria-controls="ChangePassport">
                                            <i class="fa fa-pencil"></i>Edit
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--Password-->
                            <div class="theme-account-preferences-item">
                                <div class="row">
                                    <div class="col-md-3 ">
                                        <h5 class="theme-account-preferences-item-title">Password</h5>
                                    </div>
                                    <div class="col-md-7 ">
                                        <p class="theme-account-preferences-item-value">***************</p>
                                        <div class="collapse" id="ChangePassword">
                                            <div class="theme-account-preferences-item-change">
                                                <p class="theme-account-preferences-item-change-description">
                                                    It's a good idea to use a strong password
                                                    <br />that you're not using elsewhere
                                                </p>
                                                <div class="form-group theme-account-preferences-item-change-form">
                                                    <label>Current Password</label>
                                                    <input name="CurrentPassword" class="form-control" type="password" />
                                                    <label>New Password</label>
                                                    <input name="NewPassword" class="form-control" type="password" />
                                                    <label>Re-type New Password</label>
                                                    <input name="RePassword" class="form-control" type="password" />
                                                </div>
                                                <div class="theme-account-preferences-item-change-actions">
                                                    <a class="btn btn-sm btn-primary" href="#">Save changes</a>
                                                    <a class="btn btn-sm btn-default" href="#ChangePassword" data-toggle="collapse" aria-expanded="false" aria-controls="ChangePassword">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ">
                                        <a class="theme-account-preferences-item-change-link" href="#ChangePassword" data-toggle="collapse" aria-expanded="false" aria-controls="ChangePassword">
                                            <i class="fa fa-pencil"></i>Edit
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--Photo-->
                            <div class="theme-account-preferences-item">
                                <div class="row">
                                    <div class="col-md-3 ">
                                        <h5 class="theme-account-preferences-item-title">Avatar</h5>
                                    </div>
                                    <div class="col-md-7 ">
                                        <p class="theme-account-preferences-item-value">Change your avatar picture</p>
                                        <div class="collapse" id="ChangeAvatar">
                                            <div class="theme-account-preferences-item-change">
                                                <p class="theme-account-preferences-item-change-description">Please select your avatar picture</p>
                                                <div class="form-group theme-account-preferences-item-change-form">
                                                    <input name="Photo" class="form-control" type="file" />
                                                </div>
                                                <div class="theme-account-preferences-item-change-actions">
                                                    <a class="btn btn-sm btn-primary" href="#">Save changes</a>
                                                    <a class="btn btn-sm btn-default" href="#ChangeAvatar" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeAvatar">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ">
                                        <a class="theme-account-preferences-item-change-link" href="#ChangeAvatar" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeAvatar">
                                            <i class="fa fa-pencil"></i>Edit
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>