@using EaseFlight.Web.WebUtilities;
@{
    var loggedUser = SessionUtility.GetLoggedUser();
}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>EaseFlight - @ViewBag.Title</title>
    @Styles.Render("~/Content/basecss")
    @Scripts.Render("~/bundles/basejs")
</head>
<body class="bg-gray">
    <nav class="navbar navbar-default navbar-inverse navbar-theme fixed" id="main-nav">
        <div class="container">
            <div class="navbar-inner nav">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-target="#navbar-main" data-toggle="collapse" type="button" area-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="~/Content/images/logo.png" alt="Image Alternative text" title="Image Title" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li class="active dropdown">
                            <a class="dropdown-toggle" href="@Url.Action("Index","Home")">Flights</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">Experiences</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">About Us</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">Contact</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (loggedUser != null)
                        {
                            <li class="navbar-nav-item-user dropdown">
                                <a class="dropdown-toggle account-name" href="account.html" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    @if (string.IsNullOrEmpty(loggedUser.Photo))
                                    {
                                        <i class="fa fa-user-circle-o navbar-nav-item-user-icon"></i>
                                    }
                                    else
                                    {
                                        <img class="user-avatar" src="@loggedUser.Photo" width="20" height="20" />
                                    }
                                <span>@loggedUser.LastName</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("Index","Ticket")">
                                            <i class="fa fa-ticket"></i>
                                            Ticket
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("MyProfile","Account")">
                                            <i class="fa fa-user"></i>
                                            My Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Logout","Account")">
                                            <i class="fa fa-sign-out"></i>
                                            Sign Out
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();" class="btn sign-in">Log in</a>
                            </li>
                            <li>
                                <a data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();" class="btn">Sign up</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    @RenderBody()

    <div class="theme-footer" id="mainFooter">
        <div class="container _ph-mob-0">
            <div class="row row-eq-height row-mob-full" data-gutter="60">
                <div class="col-md-3">
                    <div class="theme-footer-section theme-footer-">
                        <a class="theme-footer-brand _mb-mob-30" href="#">
                            <img src="~/Content/images/logo-black.png" alt="Image Alternative text" title="Image Title" />
                        </a>
                        <div class="theme-footer-brand-text">
                            <p>Malesuada risus felis nostra vestibulum venenatis ac mauris interdum dapibus adipiscing ornare faucibus sociosqu est</p>
                            <p>Eros sed bibendum facilisi commodo elit eu cursus id sodales arcu eros ipsum laoreet posuere</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="theme-footer-section theme-footer-">
                                <h5 class="theme-footer-section-title">Travel Mate</h5>
                                <ul class="theme-footer-section-list">
                                    <li>
                                        <a href="#">About Travel Mate</a>
                                    </li>
                                    <li>
                                        <a href="#">Mobile App</a>
                                    </li>
                                    <li>
                                        <a href="#">Customer Support</a>
                                    </li>
                                    <li>
                                        <a href="#">Advertising</a>
                                    </li>
                                    <li>
                                        <a href="#">Jobs</a>
                                    </li>
                                    <li>
                                        <a href="#">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms of Use</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="theme-footer-section theme-footer-">
                                <h5 class="theme-footer-section-title">Explore</h5>
                                <ul class="theme-footer-section-list">
                                    <li>
                                        <a href="#">Countries</a>
                                    </li>
                                    <li>
                                        <a href="#">Regions</a>
                                    </li>
                                    <li>
                                        <a href="#">Cities</a>
                                    </li>
                                    <li>
                                        <a href="#">Districs</a>
                                    </li>
                                    <li>
                                        <a href="#">Airports</a>
                                    </li>
                                    <li>
                                        <a href="#">Hotels</a>
                                    </li>
                                    <li>
                                        <a href="#">Places of Interest</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="theme-footer-section theme-footer-">
                                <h5 class="theme-footer-section-title">Book</h5>
                                <ul class="theme-footer-section-list">
                                    <li>
                                        <a href="#">Apartments</a>
                                    </li>
                                    <li>
                                        <a href="#">Resorts</a>
                                    </li>
                                    <li>
                                        <a href="#">Villas</a>
                                    </li>
                                    <li>
                                        <a href="#">Hostels</a>
                                    </li>
                                    <li>
                                        <a href="#">B&Bs</a>
                                    </li>
                                    <li>
                                        <a href="#">Guesthouses</a>
                                    </li>
                                    <li>
                                        <a href="#">Hotel Chains</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="theme-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="theme-copyright-text">
                        Copyright &copy; @DateTime.Now.Year
                        <a href="#">EaseFlight</a>. All rights reserved.
                    </p>
                </div>
                <div class="col-md-6">
                    <ul class="theme-copyright-social">
                        <li>
                            <a class="fa fa-facebook" href="#"></a>
                        </li>
                        <li>
                            <a class="fa fa-google" href="#"></a>
                        </li>
                        <li>
                            <a class="fa fa-twitter" href="#"></a>
                        </li>
                        <li>
                            <a class="fa fa-youtube-play" href="#"></a>
                        </li>
                        <li>
                            <a class="fa fa-instagram" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
</body>
</html>