@using EaseFlight.Models.EntityModels;
@{
    ViewBag.Title = "ViewData";
    //var planeAirportList = (IEnumerable<PlaneAirportModel>)ViewData["planeAirportList"];
    var flightList = (IEnumerable<FlightModel>)ViewData["flightList"];
}

<!--View Data For PlaneAirport-->
@*@foreach(var planeAirport in planeAirportList)
{
    <p>@planeAirport.Plane.Airline@planeAirport.Plane.ID.ToString("D3") : @planeAirport.Airport.Name</p>
}*@

<!--View Data For Flight-->
<h3>@flightList.Count()</h3>

@foreach(var flight in flightList)
{
    <p>@flight.Plane.Airline@flight.Plane.ID.ToString("D3"): <b>Departure: </b>@flight.Departure.Name ,<b>Arrival: </b>@flight.Arrival.Name ,
    <b>Date: </b>@flight.DepartureDate.Value.ToString("dd/MM/yyyy HH:mm"), <b>ArrivalDate: </b>@flight.ArrivalDate.Value.ToString("dd/MM/yyyy HH:mm")
    </p>
}