@using EaseFlight.Models.EntityModels;
@{
    ViewBag.Title = "Account";
    var accounts = (IEnumerable<AccountModel>)ViewData["account"];
    var msg = TempData["msg"] != null ? TempData["msg"].ToString().Split('-').ToList() : new List<string>();
}
@Scripts.Render("~/bundles/adminaccount")

@if (msg.Count() > 0 && msg[0].Equals("error"))
{
    <script>
        ToastError('@msg[1]');
    </script>
}
else if (msg.Count() > 0 && msg[0].Equals("success"))
{
    <script>
        ToastSuccess('@msg[1]');
    </script>
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <h3 class="card-title">Ease Flight - Account Management</h3>
        </div>
    </div>
    <div class="card-body card-table">
        <table id="accountTable" class="table table-bordered table-striped">
            <thead>
                <tr role="row">
                    <th>ID</th>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Birthday</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var account in accounts)
                {
                    <tr class="tr-account">
                        <td class="accountId">@account.ID</td>
                        <td class="username">@(string.IsNullOrEmpty(account.Password) ? "Third Login" : account.Username)</td>
                        <td class="firstname">@account.FirstName</td>
                        <td class="lastname">@account.LastName</td>
                        <td class="title">@(account.Gender != null ? account.Gender.Value ? "Ms/Mrs " : "Mr " : "")</td>
                        <td class="birthday">@(account.Birthday != null ? account.Birthday.Value.ToString("dd/MM/yyyy") : "")</td>
                        <td class="email">@account.Email</td>
                        <td class="phone">@account.Phone</td>
                        <td class="address">@account.Address</td>
                        <td class="account-status account-@(account.Status.Value?"active":"disable")">@(account.Status.Value ? "Active" : "Disable")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!--Edit/Add Account modal-->
<div class="modal fade" id="accountModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="" method="post" class="account-form">
                    <input type="hidden" name="accountId" />
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="required">Title</label>
                            <select class="select2" name="title">
                                <option value="0">Mr</option>
                                <option value="1">Ms/Mrs</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="required">First Name</label>
                            <input type="text" class="form-control" name="firstname" placeholder="Enter account First Name">
                            <span class="msg-valid msg-firstname msg-span">First Name is required</span>
                        </div>
                        <div class="col-md-6">
                            <label class="required">Last Name</label>
                            <input type="text" class="form-control" name="lastname" placeholder="Enter account Last Name">
                            <span class="msg-valid msg-lastname msg-span">Last Name is required</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="required">Username</label>
                            <input type="text" class="form-control" name="username" placeholder="Enter account Username">
                            <span class="msg-valid msg-username msg-span">Username is required</span>
                        </div>
                        <div class="col-md-6">
                            <label class="required">Birthday</label>
                            <input type="text" class="form-control" name="birthday" placeholder="dd/mm/yyyy">
                            <span class="msg-valid msg-birthday msg-span">Birthday is required</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="required">Email</label>
                            <input type="text" class="form-control" name="email" placeholder="Enter account Email">
                            <span class="msg-valid msg-email msg-span">Email is required</span>
                        </div>
                        <div class="col-md-6">
                            <label class="required">Phone</label>
                            <input type="text" class="form-control" name="phone" placeholder="Enter account Phone number">
                            <span class="msg-valid msg-phone msg-span">Phone is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="required">Address</label>
                        <input type="text" class="form-control" name="address" placeholder="Enter account Address">
                        <span class="msg-valid msg-address msg-span">Address is required</span>
                    </div>
                    <div class="form-group">
                        <label class="required pwdefault-label"></label>
                        <input type="text" class="form-control disabled" name="password" disabled>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-success" onclick="saveAccount()">Save</button>
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--Confirm modal-->
<div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Delete Account</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete this account? This procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-sm btn-danger confirm-button" onclick="">Delete Account</button>
            </div>
        </div>
    </div>
</div>