@using EaseFlight.Models.EntityModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var planes = (IEnumerable<PlaneModel>)ViewData["planes"];
    var seats = (IEnumerable<SeatMapModel>)ViewData["seats"];
    var airports = (IEnumerable<AirportModel>)ViewData["airports"];

}
@Styles.Render("~/Content/adminbasecss")
@Styles.Render("~/Content/adminlogin")
@Scripts.Render("~/bundles/adminbasejs")
@Scripts.Render("~/bundles/adminlogin")
@Scripts.Render("~/bundles/adminplane")
@Scripts.Render("~/bundles/admincontextmenu")

<div class="card">
    <div class="card-header">
        <div class="row">
            <h3 class="card-title">Ease Flight - Plane Manager</h3>
        </div>
    </div>
    <div class="card-body card-table">
        <table id="planeTable" class="table table-bordered table-striped">
            <thead>
                <tr role="row">
                    <th>ID</th>
                    <th>Plane code</th>
                    <th>Plane type</th>
                    <th>Airline</th>
                    <th>Airports</th>
                    <th>Seat Class</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var plane in planes)
                {
                    var seatclass = plane.PlaneSeatClasses.Where(s => s.PlaneID == plane.ID).Select(a => a.SeatClass.Name + ": " + a.Capacity + " seat");
                    var planeairport = plane.PlaneAirports.Select(p => p.Airport);
                    <tr class="tr-plane">
                        <td class="plane-id">@plane.ID</td>
                        <td class="plane-type">@plane.Name</td>
                        <td class="plane-seatclass">@plane.SeatMap.Name</td>
                        <td class="plane-airline">@plane.Airline</td>
                        <td class="plane-airport">
                            <ul>
                                @foreach (var pl in planeairport)
                                {
                                    <li data-airportid="@pl.ID">@pl.Name</li>
                                }
                            </ul>
                        </td>
                        <td class="plane-seatclass">
                            <ul>
                                @foreach (var seat in seatclass)
                                {
                                    <li>@seat</li>
                                }
                            </ul>
                        </td>
                        <td class="plane-status">@plane.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!--Add/Edit Plane Modal-->
<div class="modal" id="planeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add new Plane</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="@Url.Action("AddNewPlane","Plane")" method="post" name="planeForm">
                    <input type="hidden" class="planeId" name="planeId" />

                   

                    <div class="form-group">
                        <label>Plane Type</label>
                        
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Deapart</label>
                            <select class="select2" name="depart"></select>
                        </div>
                        <div class="col-md-6">
                            <label>Arrival</label>
                            <select class="select2" name="arrival"></select>
                        </div>
                        <span class="msg-valid msg-place" style="margin-left: 10px;">Depart and Arrival can not at the same place</span>
                    </div>
                    <div class="form-group">
                        <label>Depart And Arrival Date</label>
                        <input type="text" class="form-control departDate" name="flightDate" placeholder="dd/mm/yyyy hh:mm">
                        <span class="msg-valid msg-date" style="margin-left: 10px;">Depart Date and Arrival Date is required</span>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Price</label>
                            <input type="number" class="form-control" name="price" min="1" value="1">
                        </div>
                        <div class="col-md-6">
                            <label>Status</label>
                            <input type="text" class="form-control disabled" value="Ready" disabled>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="saveFlight()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="addnew">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add new Plane</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <!-- form start -->
                <form action="@Url.Action("AddNewPlane","Plane")" method="post" name="addform">
                    <input type="hidden" id="idplane" name="planeid" />
                    <div class="form-group">
                        <label for="exampleInputEmail1">Airline</label>
                        <input type="text" class="form-control airplane" name="airline" placeholder="Enter plane Airline">
                        <span class="msg-valid msg-airline">Airline is required</span>
                    </div>
                    <div class="form-group">
                        <label>Plane Type</label>
                        <select class="select2" style="width: 100%;" name="planetype">
                            @foreach (var seat in seats)
                            {
                                <option value="@seat.ID" data-capacity="@seat.Capacity">@seat.Name (@seat.Capacity Seat)</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Airport</label>
                        <select class="select2" style="width: 100%;" name="airport" multiple="multiple" data-placeholder="Select a airport">
                            @foreach (var air in airports)
                            {
                                <option value="@air.ID">@air.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>First Class</label>
                            <input type="number" value="0" min="0" class="form-control seatcapacity " name="firstclass">
                        </div>
                        <div class="col-md-4">
                            <label>Business</label>
                            <input type="number" value="0" min="0" class="form-control seatcapacity" name="business">
                        </div>
                        <div class="col-md-4">
                            <label>Economy</label>
                            <input type="number" value="0" min="0" class="form-control seatcapacity" name="economy">
                        </div>
                        <span class="msg-valid msg-class"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>First Class Price</label>
                            <input type="number" value="0" min="0" class="form-control " name="firstclassprice">
                        </div>
                        <div class="col-md-4">
                            <label>Business Price</label>
                            <input type="number" value="0" min="0" class="form-control " name="businessprice">
                        </div>
                        <div class="col-md-4">
                            <label>Economy Price</label>
                            <input type="number" value="0" min="0" class="form-control " name="economyprice">
                        </div>
                        <span class="msg-valid msg-price">Price is required</span>
                    </div>

                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="savePlane()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

