@using EaseFlight.Models.EntityModels;
@using EaseFlight.Common.Constants;
@{
    ViewBag.Title = "Dashboard";
    var flights = (IEnumerable<FlightModel>)ViewData["flights"];
    var tickets = (IEnumerable<TicketModel>)ViewData["tickets"];
    var planes = (IEnumerable<PlaneModel>)ViewData["planes"];
    var accounts = (IEnumerable<AccountModel>)ViewData["accounts"];
    var ticketSuccess = (List<int>)ViewData["ticketSuccess"];
    var ticketReturn = (List<int>)ViewData["ticketReturn"];
    var ticketRoundtrip = (List<int>)ViewData["ticketRoundtrip"];

    var inYearRevenue = tickets.Where(ticket => ticket.CreateDate.Value.Year == DateTime.Now.Year).Select(ticket => ticket.Price).Sum();
    var lastYearRevenue = tickets.Where(ticket => ticket.CreateDate.Value.Year == DateTime.Now.Year - 1).Select(ticket => ticket.Price).Sum();

    var inYearSuccess = tickets.Where(ticket => ticket.CreateDate.Value.Year == DateTime.Now.Year && ticket.Status.Equals(Constant.CONST_DB_TICKET_STATUS_SUCCESS)).Select(ticket => ticket.Price).Sum();
    var lastYearSuccess = tickets.Where(ticket => ticket.CreateDate.Value.Year == DateTime.Now.Year - 1 && ticket.Status.Equals(Constant.CONST_DB_TICKET_STATUS_SUCCESS)).Select(ticket => ticket.Price).Sum();

    var inYearReturn = tickets.Where(ticket => ticket.CreateDate.Value.Year == DateTime.Now.Year && ticket.Status.Equals(Constant.CONST_DB_TICKET_STATUS_RETURN)).Select(ticket => ticket.Price).Sum();
    var lastYearReturn = tickets.Where(ticket => ticket.CreateDate.Value.Year == DateTime.Now.Year - 1 && ticket.Status.Equals(Constant.CONST_DB_TICKET_STATUS_RETURN)).Select(ticket => ticket.Price).Sum();

    var inYearProfit = inYearRevenue - inYearReturn;
    var lastYearProfit = lastYearRevenue - lastYearReturn;

}

@Scripts.Render("~/bundles/adminchart")
@Scripts.Render("~/bundles/admindashboard")

<script>
    var ticketSuccess = [];
    var ticketReturn = [];
    var ticketRoundtrip = [];

    @foreach (var ticket in ticketSuccess)
    {
        @:ticketSuccess.push(@ticket);
    }

    @foreach (var ticket in ticketReturn)
    {
        @:ticketReturn.push(@ticket);
    }

    @foreach (var ticket in ticketRoundtrip)
    {
        @:ticketRoundtrip.push(@ticket);
    }
</script>

<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-fighter-jet"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Flight</span>
                <span class="info-box-number">@flights.Count()</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-gray elevation-1"><i class="fas fa-paper-plane"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Aircraft</span>
                <span class="info-box-number">@planes.Count()</span>
            </div>
        </div>
    </div>
    <div class="clearfix hidden-md-up"></div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-address-card"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Ticket</span>
                <span class="info-box-number">@tickets.Count()</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Customers</span>
                <span class="info-box-number">@accounts.Count()</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Monthly Ticket Booking Report</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <p class="text-center">
                            <strong>Ticket Booking: 1 January, @DateTime.Now.Year - @DateTime.Now.ToString("dd MMMM ,yyyy")</strong>
                        </p>
                        <div class="chart">
                            <canvas id="ticketChart" height="180" style="height: 180px;"></canvas>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="text-center">
                            <strong>Goal Completion</strong>
                        </p>
                        <div class="progress-group">
                            Complete Ticket Booking
                            <span class="float-right"><b>@ticketSuccess.Sum()</b>/100</span>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-success" style="width: @ticketSuccess.Sum()%"></div>
                            </div>
                        </div>
                        <div class="progress-group">
                            Return Ticket
                            <span class="float-right"><b>@ticketReturn.Sum()</b>/100</span>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-danger" style="width: @ticketReturn.Sum()%"></div>
                            </div>
                        </div>
                        <div class="progress-group">
                            <span class="progress-text">Ticket With Round Trip</span>
                            <span class="float-right"><b>@ticketRoundtrip.Sum()</b>/100</span>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-gray" style="width: @ticketRoundtrip.Sum()%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            <span class="description-percentage @(inYearRevenue > lastYearRevenue?"text-success":(inYearRevenue == lastYearRevenue?"text-warning":"text-danger"))">
                                <i class="fas @(inYearRevenue > lastYearRevenue?"fa-caret-up":(inYearRevenue == lastYearRevenue?"fa-caret-left":"fa-caret-down"))"></i> @((inYearRevenue - lastYearRevenue) / 100)%
                            </span>
                            <h5 class="description-header">$@tickets.Select(ticket => ticket.Price).Sum()</h5>
                            <span class="description-text">TOTAL REVENUE</span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            <span class="description-percentage @(inYearSuccess > lastYearSuccess?"text-success":(inYearSuccess == lastYearSuccess?"text-warning":"text-danger"))">
                                <i class="fas @(inYearSuccess > lastYearSuccess?"fa-caret-up":(inYearSuccess == lastYearSuccess?"fa-caret-left":"fa-caret-down"))"></i> @((inYearSuccess - lastYearSuccess) / 100)%
                            </span>
                            <h5 class="description-header">$@tickets.Where(ticket => ticket.Status.Equals(Constant.CONST_DB_TICKET_STATUS_SUCCESS)).Select(ticket => ticket.Price).Sum()</h5>
                            <span class="description-text">TOTAL SUCCESS</span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            <span class="description-percentage @(inYearReturn > lastYearReturn?"text-success":(inYearReturn == lastYearReturn?"text-warning":"text-danger"))">
                                <i class="fas @(inYearReturn > lastYearReturn?"fa-caret-up":(inYearReturn == lastYearReturn?"fa-caret-left":"fa-caret-down"))"></i> @((inYearReturn - lastYearReturn) / 100)%
                            </span>
                            <h5 class="description-header">$@tickets.Where(ticket => ticket.Status.Equals(Constant.CONST_DB_TICKET_STATUS_RETURN)).Select(ticket => ticket.Price).Sum()</h5>
                            <span class="description-text">TOTAL REFUND</span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="description-block">
                            <span class="description-percentage @(inYearProfit > lastYearProfit?"text-success":(inYearProfit == lastYearProfit?"text-warning":"text-danger"))">
                                <i class="fas @(inYearProfit > lastYearProfit?"fa-caret-up":(inYearProfit == lastYearProfit?"fa-caret-left":"fa-caret-down"))"></i> @((inYearProfit - lastYearProfit) / 100)%
                            </span>
                            <h5 class="description-header">$@(tickets.Select(ticket => ticket.Price).Sum() - @tickets.Where(ticket => ticket.Status.Equals(Constant.CONST_DB_TICKET_STATUS_RETURN)).Select(ticket => ticket.Price).Sum())</h5>
                            <span class="description-text">GOAL PROFIT</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>